body {
  background: url("./assets/flower_bg.jpg");
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.1;
}

input::placeholder {
  color: "white";
}
.App {
  text-align: center;
  color: white;
}

.p-name-field {
  margin: 1.2rem;
}

.list-div {
  padding: 0.8rem;
}

.list-all-names {
  margin: 0 auto;
  width: 50%;
  height: auto;
  overflow: scroll;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}
.allnames h4 {
  color: #fff !important;
}

.form-names {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin: 0 auto;
  justify-content: center;
  justify-content: space-evenly;
}

.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
  width: 100px;
}

.form {
  width: 90%;
  margin: 0 auto;
  object-fit: contain;
}

.form {
  padding: 20px;
}

.table {
  padding: 10px;
  background-color: black;
}

.input_field {
  color: #dc4225;
}

.MuiInputBase-input {
  color: #fff !important;
}

/* .sauce {
  width: 50vw;
  position: absolute;
  left: 0%;
  top: 0%;
  background: url("./assets/bg_large.jpg");
  background-repeat: no-repeat;
  /* background-color: red; */
/* height: 10000%; */
/* } */
